<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/base}">

<head>
    <title>주문 조회</title>
</head>

<div layout:fragment="content">
    <div class="row mb-4">
        <div class="col">
            <h2>주문 조회</h2>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>주문번호</th>
                        <th>상품명</th>
                        <th>주문상태</th>
                        <th>주문일시</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="order : ${orders}">
                        <td th:text="${order.id}">1</td>
                        <td th:text="${order.bookName}">책이름</td>
                        <td th:text="${order.status}">주문완료</td>
                        <td th:text="${#temporals.format(order.createdAt, 'yyyy-MM-dd HH:mm')}">
                            2024-01-01 12:00
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

</html>