<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<footer th:fragment="footer" class="bg-dark text-light py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h5>도서 쇼핑몰</h5>
                <p>주소: 서울시 강남구 테헤란로</p>
                <p>전화: 02-1234-5678</p>
                <p>이메일: support@bookshop.com</p>
            </div>
            <div class="col-md-6">
                <h5>바로가기</h5>
                <ul class="list-unstyled">
                    <li><a href="/books" class="text-light">도서 목록</a></li>
                    <li><a href="/boards" class="text-light">게시판</a></li>
                    <li><a href="/orders" class="text-light">주문 조회</a></li>
                </ul>
            </div>
        </div>
        <hr class="bg-light">
        <div class="text-center">
            <p class="mb-0">&copy; 2024 도서 쇼핑몰. All rights reserved.</p>
        </div>
    </div>
</footer>
</html>